In [1]:
# Q1. Create one variable containing following type of data.
#(i) string
A='Demodog'
#(ii) list
L=[24,56,48,75,78,'Hello',25.58,]
#(iii) float
F=253.24
#(iv) tuple
T=(25,1456,356,4854,[24,45,68,44])

In [2]:
A

'Demodog'

In [3]:
L

[24, 56, 48, 75, 78, 'Hello', 25.58]

In [4]:
F

253.24

In [5]:
T

(25, 1456, 356, 4854, [24, 45, 68, 44])

In [6]:
type(A)

str

In [7]:
type(L)

list

In [8]:
type(F)

float

In [9]:
type(T)

tuple

In [13]:
#Q2. Given are some following variables containing data:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [14]:
type(var1)

str

In [15]:
type(var2)

str

In [16]:
type(var3)

list

In [17]:
type(var4)

float

In [18]:
# var1 is a string variable
#var2 is a string variable
#var3 is a list variable
#var4 is float variable

In [19]:
# Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [20]:
# / is used as a division operator.
80/20

4.0

In [21]:
# % is used as a modulus operator.
58%45

13

In [22]:
# // is used as a floor division operator.
100//50

2

In [23]:
# ** is used as a Exponential operator.
3**3

27

In [24]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
X=[25,50,45,84,69,'DC','avengers',25.54, False, True]

In [29]:
for i in X:
    print(f"{i} and its type is {type(i)}")

25 and its type is <class 'int'>
50 and its type is <class 'int'>
45 and its type is <class 'int'>
84 and its type is <class 'int'>
69 and its type is <class 'int'>
DC and its type is <class 'str'>
avengers and its type is <class 'str'>
25.54 and its type is <class 'float'>
False and its type is <class 'bool'>
True and its type is <class 'bool'>

In [4]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
A=100
B=5
count=0
temp=A
while A % B==0:
    count=count+5
    A=A/B
if count>0:
    print(f"{temp} is divisble by {B} {count}times")
else:
    print(f"{temp} is noty divisble by {B}")

100 is divisble by 5 10times

In [11]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
X=[9,24,16,74,84,69,258,657,458,753,999,955,854,7569,21458,9215,987,578,58,533,888,777,666,444,333,]
for i in X:
    if i % 3 == 0:
        print(f"{i} is divisble by 3")
    else:
            print(f"{i} is not divisble by 3")

9 is divisble by 3
24 is divisble by 3
16 is not divisble by 3
74 is not divisble by 3
84 is divisble by 3
69 is divisble by 3
258 is divisble by 3
657 is divisble by 3
458 is not divisble by 3
753 is divisble by 3
999 is divisble by 3
955 is not divisble by 3
854 is not divisble by 3
7569 is divisble by 3
21458 is not divisble by 3
9215 is not divisble by 3
987 is divisble by 3
578 is not divisble by 3
58 is not divisble by 3
533 is not divisble by 3
888 is divisble by 3
777 is divisble by 3
666 is divisble by 3
444 is divisble by 3
333 is divisble by 3

In [12]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
#Imutable data  type are thoes that cannot be change once they are created. 
#mutable data types are thoes that can be vhange after assigned.
#int,float,bool,str,tuple are imutable type.
#list, set are mutable type

In [17]:
# example of immutable
name = 'Apoorv'

In [19]:
type(name)

str

In [21]:
name[2]='V'

TypeError: 'str' object does not support item assignment

In [22]:
#example of mutable
Items=[2555,45,1,5,7,'Apoorv','game']

In [23]:
type(Items)

list

In [24]:
Items[6]= 'school'

In [25]:
Items

[2555, 45, 1, 5, 7, 'Apoorv', 'school']