In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

"""A database is a structured collection of data organized and stored in a computer system. It provides a way to store, manage, 
retrieve, and manipulate data efficiently. """

#SQL Databases:
"""SQL databases are based on a relational model, where data is organized into tables with predefined schemas.
They enforce strict data consistency and support ACID (Atomicity, Consistency, Isolation, Durability) properties.
SQL databases use structured query language (SQL) to interact with the data."""

#NoSQL Databases:
"""NoSQL databases are non-relational and provide flexible schemas, allowing for dynamic and unstructured data.
They offer horizontal scalability and high performance for handling large amounts of data and concurrent users.
NoSQL databases use various data models such as key-value, document, columnar, and graph."""

'NoSQL databases are non-relational and provide flexible schemas, allowing for dynamic and unstructured data.\nThey offer horizontal scalability and high performance for handling large amounts of data and concurrent users.\nNoSQL databases use various data models such as key-value, document, columnar, and graph.'

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

"""DDL stands for Data Definition Language, and it is a subset of SQL used for defining and managing the structure of the 
database schema. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and views."""

#CREATE: The CREATE statement is used to create new database objects.
#DROP: The DROP statement is used to delete existing database objects. 
#ALTER: The ALTER statement is used to modify the structure of an existing database object. 
#TRUNCATE: The TRUNCATE statement is used to delete all data from a table while keeping its structure intact.  

#CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    salary DECIMAL(10, 2));

#DROP TABLE employees;

#ALTER TABLE employees ADD COLUMN age INT;

#TRUNCATE TABLE employees;

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

"""DML stands for Data Manipulation Language, and it is used to manage the data within the database. DML statements allow you 
to insert, update, and delete records in database tables."""

#INSERT: The INSERT statement is used to add new records into a table.
#Example:
INSERT INTO employees (id, name, salary) VALUES (5055830, 'Apoorv', 50000);

#UPDATE: The UPDATE statement is used to modify existing records in a table. 
#example:
UPDATE employees SET salary = 60000 WHERE id = 500055830;

#DELETE: The DELETE statement is used to remove records from a table. 
#Example:
DELETE FROM employees WHERE id = 500055830;

In [ ]:
#What is DQL? Explain SELECT with an example.
"""DQL stands for Data Query Language, and it is used to retrieve data from the database.

SELECT: The SELECT statement is used to retrieve data from one or more tables. It allows you to specify the columns to be 
retrieved and apply filtering and sorting conditions."""
SELECT * FROM employees WHERE salary > 5000;

In [ ]:
#Q5. Explain Primary Key and Foreign Key.

"""Primary Key: A primary key is a column or a combination of columns in a table that uniquely identifies each row in the table. 
It ensures the uniqueness and integrity of the data. A primary key cannot contain duplicate or NULL values. Each table can have 
only one primary key. It is often used to establish relationships with other tables through foreign keys."""

"""Foreign Key: A foreign key is a column or a combination of columns in a table that refers to the primary key of another 
table. It establishes a relationship between two tables. The foreign key in one table refers to the primary key in another 
table, creating a link between the two tables. It ensures referential integrity, meaning that the values in the foreign key 
column(s) must exist in the referenced table's primary key column(s)."""

In [ ]:
#Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)
    

"""The cursor() method creates a cursor object, which acts as a handle for performing various database operations. It provides 
methods like execute(), fetchone(), fetchall(), etc., to interact with the database.

The execute() method is used to execute SQL statements. It takes an SQL statement as a parameter and sends it to the MySQL
server for execution. In the example, the execute() method is used to execute the SELECT statement."""

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.
"""FROM: The FROM clause specifies the table(s) from which the data will be retrieved.

WHERE: The WHERE clause is used to filter the rows based on specified conditions. It narrows down the result set by applying 
logical conditions.

GROUP BY: The GROUP BY clause is used to group rows with similar values in one or more columns. It is often used in conjunction
with aggregate functions like SUM, COUNT, AVG, etc.

HAVING: The HAVING clause is used to filter the grouped rows based on specified conditions. It applies conditions to the grouped
data after the GROUP BY clause.

SELECT: The SELECT clause is used to specify the columns to be retrieved from the table(s). It defines the structure and content
of the result set.

ORDER BY: The ORDER BY clause is used to sort the result set based on specified columns. It can sort the data in ascending 
(ASC) or descending (DESC) order.

LIMIT/OFFSET: The LIMIT clause is used to restrict the number of rows returned by the query. It specifies the maximum number
of rows to be retrieved. The OFFSET clause, when used in conjunction with LIMIT, allows skipping a specified number of rows 
before retrieving the remaining rows."""