In [ ]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
"""Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female
Then, print the DataFrame."""
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
#Q7. Create a DataFrame using multiple Series. Explain with an example.

In [2]:
#Q1 - Answer
import pandas as pd
Data_list = [4, 8, 15, 16, 23, 42]
Series = pd.Series(Data_list)
print(Series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#Q2 - Answer
Data_list2 = [12, 52, 63, 74, 85, 96, 107, 158, 129, 110]
Series2 = pd.Series(Data_list2)
print(Series2)

0     12
1     52
2     63
3     74
4     85
5     96
6    107
7    158
8    129
9    110
dtype: int64

In [4]:
#Q3 - Answer

Data3 = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(Data3)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [5]:
#Q4 - Answer
"""A DataFrame in Pandas is a 2-dimensional labeled data structure, similar to a table or a spreadsheet. It is the most commonly
used data structure in Pandas and allows you to store and manipulate data in a tabular form with rows and columns.
DataFrame: A DataFrame is a 2-dimensional data structure that can store multiple columns of data, and each column is represented
as a Pandas Series. It is essentially a collection of Series aligned along a common index, forming a table-like structure.
Series: A Series is a 1-dimensional data structure in Pandas that stores an array of data and an associated index. It can be 
thought of as a single column of data, and it lacks the tabular structure of a DataFrame."""

Student_name = pd.Series(['Apoorv', 'Banty', 'Deepak'])

Data4 = {
    'Student Name': ['Apple', 'Banana', 'Orange'],
    'Marks in 10': [3, 5, 2]
}
df = pd.DataFrame(Data4)
print("Series:")
print(Student_name)
print("\nDataFrame:")
print(df)

Series:
0    Apoorv
1     Banty
2    Deepak
dtype: object

DataFrame:
  Student Name  Marks in 10
0        Apple            3
1       Banana            5
2       Orange            2

In [ ]:
#Q5- Answer
"""some of the basisc fuction are:"""
.read_csv("file name") - """this fuction is used to read file which are saved in library"""
.head() """is a method used to display the first few rows of a Pandas DataFrame. It allows you to quickly inspect the contents
of the DataFrame and get a glimpse of the data it contains."""
.tail() """will display the last five rows of the DataFrame. If you want to see more rows, you can pass the number of rows 
you wish to display within the parentheses."""
.columns, """it will return a Pandas Index object containing the column names of the DataFrame."""
.read_csv() """function to read the CSV file from the specified "link" and store its contents into a DataFrame"""
type(df) """To determine the type of the variable df and check if it is a Pandas DataFrame, you can use the type() function in 
Python."""
.read_html() """function is used to extract tables from HTML web pages and returns a list of DataFrame objects."""
to_csv() """method is used to save the DataFrame df to a CSV file named "dfto.csv" in the current working directory.is used to
stord permanently file into the directory"""
drop() """To remove rows or columns from the DataFrame."""
filter() """To filter rows based on conditions."""
groupby() """To group data based on one or more columns and perform aggregations."""

In [8]:
import pandas as pd

Data5= {
    'Name': ['Anamika', 'Bunty', 'Charlie', 'Dav', 'Evan', 'Franki'],
    'Age': [25, 32, 18, 47, 29, 36],
    'City': ['Gonda', 'Dehradun', 'Patna', 'Tunakpur', 'Berali', 'Shjhapur'],
    'Salary': [50000, 60000, 45000, 80000, 55000, 70000]
}

df = pd.DataFrame(Data5)

print("Head of DataFrame:")
print(df.head())

print("\nTail of DataFrame:")
print(df.tail())

print("\nColumn Names:")
print(df.columns)

Head of DataFrame:
      Name  Age      City  Salary
0  Anamika   25     Gonda   50000
1    Bunty   32  Dehradun   60000
2  Charlie   18     Patna   45000
3      Dav   47  Tunakpur   80000
4     Evan   29    Berali   55000

Tail of DataFrame:
      Name  Age      City  Salary
1    Bunty   32  Dehradun   60000
2  Charlie   18     Patna   45000
3      Dav   47  Tunakpur   80000
4     Evan   29    Berali   55000
5   Franki   36  Shjhapur   70000

Column Names:
Index(['Name', 'Age', 'City', 'Salary'], dtype='object')

In [ ]:
#Q6 -Answer
"""Series: Series is mutable, meaning you can modify its elements, change the values, or extend its size after it has been 
created.
DataFrame: DataFrame is mutable as well, allowing you to add or remove columns, modify data, and perform various operations on 
it.
Panel: The Panel was a 3-dimensional data structure in older versions of Pandas, but it has been deprecated. Instead, 
multi-dimensional data is now handled using hierarchical indexing within DataFrames."""

In [7]:
#7 -Answer
"""Creating a DataFrame using multiple Series in Pandas is a common way to organize and analyze data. You can combine several 
Pandas Series, each representing a different column of data, into a single DataFrame."""

Names_college_student = pd.Series(['Aman', 'Boby', 'Charles'])
Ages = pd.Series([25, 22, 27])
Genders = pd.Series(['Male', 'Female', 'Male'])

Data7 = {
    'Name': Names_college_student,
    'Age': Ages,
    'Gender': Genders
}

df = pd.DataFrame(Data7)

print(df)

      Name  Age  Gender
0     Aman   25    Male
1     Boby   22  Female
2  Charles   27    Male